services:
  v2board:
    image: ghcr.io/ccb6d/v2board-dev:latest
    volumes:
      - ./.docker/.data/redis/:/data/
      # - ./:/www/
      - ./.env:/www/.env
      - ./v2board.php:/www/config/v2board.php
    network_mode: host
    restart: always
    ports:
      - 7002:7002
